#search_term{
width : 500px;
height: 40px;
border : 1px solid black;
}

#content{
height:900px;
}
#left{
height:800px;
overflow-y:scroll;
}
#right{
 height:800px;
 overflow-y:scroll;
 }
#center{
  height:800px;
  overflow-y:scroll;
  }

#previous{
	float: left;
}

#next{
	float: right;
}
#submit{
	float:bottom;
	text-align: center;
}